{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- 
<div class="container-fluid pt-4 text-center text-light" >

   <div class="row pt-5 mt-5  text-center" >
      <div class="row pt-4 mt-4  text-center" >
      
      </div>
      <h1 style="font-size:50px;">IMPROVE YOUR KNOWLEDGE THROUGH</h1>
      
      <h2 style="font-size:30px; ">High Value Conferences</h2>
      
   </div>
   
   <div class="row pt-4 mt-5 text-center" >
      <h3 style="font-size:40px; ">FOR YOUTH INNOVATORS</h3>
      
      <h4 style="font-size:30px;">Welcome</h4>
      
   </div>

   
   <div class="row pt-4 mt-4  text-center" >
      
   </div>
   <div class="row pt-5 text-center">
      <div class="col md-1" style="font-size:30px;"><b>2022</b></div>
      <div class="col md-10"></div>
      <div class="col md-1" style="font-size:30px;"><b>GLOBAL</b></div> 
   </div>
   <div class="row pt-3 mt-3  text-center" >
      
   </div>
   <div class="row pt-4 mt-4  text-center" >
      
   </div>
   <div class="row">
      <div class="col-md" >
  
      </div>
     
      <div class="col-md">
           
           
          </div>
          <div class="col-md-2" >
            <b>&copy;albert&clemance</b>
          </div>
          
          <div class="col-md-1" >
      
          </div>
          <div class="row pt-3 mt-2 text-center" >
      
         </div>
         </div>
</div>
  </div>

   
  
 -->

	<!--

	
<div class="container">



<form action="{% url 'search_conf' %}" role="search" method="post">
   {% csrf_token %}
<div class="box">

	

	

</div>

</form>


</div> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<div class="container">
   
   <div class="row">
      <div class="col ">
   <h1>Search Box</h1>
<form action="{% url 'search_conf' %}" method="post">
   {% csrf_token %}
   <div class="box">
   
    
    <button type="submit" class="btn btn-borderless "><i class="fa fa-search"  aria-hidden="true"></i> </button>
      <input type="search" name="searched" placeholder="Search Conference">
   
   </div>
</form>
</div>



<div class="col  text-end text-light text-lg">
   <h1 style="font-size:35px; " >IMPROVE YOUR KNOWLEDGE THROUGH</h1>
   <h2 style="font-size:30px; ">High Value Conferences</h2>
   
</div>
</div>

</div>

{% endblock%}
