{% extends "base.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-4 pt-5"  >
  <div class="container">
    
    {% if messages %}
    {% for message in delete_conf.messages %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
    
    swal({
    title: "Conference Deleted",
    text: "Successful",
    icon: "success",
    button: "OK!",
   
  
   });
    
    </script>
    
    {%endfor %}
    {%endif%}
    

  <ul class="nav nav-pills mb-3 gap-1" id="pills-tab" role="tablist fixed-top">
    <li class="nav-item" role="presentation">
      <button class="btn btn-secondary  active  text-light" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Conference</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="btn btn-secondary text-light" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Speakers</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="btn btn-secondary text-light" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Paticipant</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="btn btn-secondary text-light" id="pills-schedule-tab" data-bs-toggle="pill" data-bs-target="#pills-schedule" type="button" role="tab" aria-controls="pills-schedule" aria-selected="false">Add Schedule</button>
    </li>
  </ul>
  <div class="tab-content " id="pills-tabContent">
    <div class="tab-pane fade show active " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
      
      <div class="row text-light pt-5">
        <style>
          th,tr,td {
            border: solid lavender 2px;
          }
        </style>
      
           <table class="table mt-3 text-light" border="2px">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Venue</th>
                    <th scope="col" >Actions</th>
                  </tr>
                </thead>
                <tbody>
                {% for conference in conf %}
                  <tr>
                    <th scope="row">{{ conference.id }}</th>
                    <td>{{conference.title }}</td>
                    <td>{{conference.venue }}</td>
                    <td>
                        <a href="{% url 'view_conf' conference.id %}" class="btn btn-success"><i class="bi bi-view-stacked"></i></a>
                        <a href="{% url 'conference-update' conference.id %}" class="btn btn-secondary"><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'delete_conf' conference.id%}" class="btn btn-danger"><i class="bi bi-trash3"></i></a>
                    </td>
                  </tr>
                {% endfor %}
      
                </tbody>
              </table>
             
          </div>
      
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
        
    <link rel="stylesheet" href="{% static 'css/card.css' %}">

    <div class="container ">
     <div class="text-end">
      
        <a  href="{% url 'add_speakers' %}" class="btn btn-secondary"><i class="bi bi-file-plus"></i> Add Speaker</a>
     
      </div>

      <div class="row mt-5 pt-4">
        
        {% for item in all %}
        <div class="col-md-4 pt-4">
      <div class="card">
         <div class="img">
            <img src="{{item.profile_picture.url}}">
         </div>
         <div class="top-text">
            <div class="name">
              Names : {{item.name}}
            </div>
            <p>{{item.description}}</p>
         </div>
         <div class="bottom-text">
            <div class="text">
              <a href="{% url 'speaker_edit' item.id %}" class="btn btn-secondary btn-sm"><i class="bi bi-pencil-square"></i></a>
              <a href="{% url 'delete_speaker' item.id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash3"></i></a>
           
            </div>
           
         </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>


    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
      <div class="container">
      <div class="row text-light pt-5">
        <style>
          th,tr,td {
            border: solid rgb(0, 0, 0) 3px;
          }
          thead{
            background-color: black;
            border: solid white 2px;
          }
        </style>
      
           <table class="table mt-3 text-light " border="2px">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Conference</th>
                    <th scope="col" >Actions</th>
                  </tr>
                </thead>
                <tbody>
                {% for participant in part %}
                  <tr>
                    <th scope="row">{{  participant.id }}</th>
                    <th scope="row">{{ participant.name }}</th>
                    <th scope="row">{{ participant.conference  }}</th>
                   
                    <td>
                        
                        <a href="{% url 'participant_edit' participant.id  %}" class="btn btn-secondary"><i class="bi bi-pencil-square"></i></a>
                        <a href="{% url 'delete_participant' participant.id  %}" class="btn btn-danger"><i class="bi bi-trash3"></i></a>
                    </td>
                  </tr>
                {% endfor %}
      
                </tbody>
              </table>
             
          </div>
        </div>
      
      
    </div>
    <div class="tab-pane fade text-light" id="pills-schedule" role="tabpanel" aria-labelledby="pills-schedule-tab">
      <div class="container">
        <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-5">
          <form action="" method="post" class="m-3 p-3 rounded-4 bg-light text-dark ">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Add Schedule" class="btn btn-secondary">
          </form>
        </div>
        <div class="col-sm"></div>
      </div>
       
      </div>
    </div>
  </div>
   
    </div>
  
        

   
{% endblock %}