*{

	margin: 0;

	padding: 0;

	font-family: sans-serif;

	box-sizing: border-box;

}

body{

	height: 100vh;

	display: flex;

	justify-content: center;

	align-items: center;

	background: linear-gradient(40deg, #8600b3 50%, #29242b 50%);

}

h1{

	position: absolute;

	top: 30%;

	font-size: 60px;

	color: white;

}

.box{

	width: 500px;

	height: 50px;

	background-color: white;

	border-radius: 30px;

	display: flex;

	align-items: center;

	padding: 20px;

}

.box > i {

	font-size: 20px;

	color: #777;

}

.box > input{

	flex: 1;

	height: 40px;

	border: none;

	outline: none;

	font-size: 18px;

	padding-left: 10px;


}